@import url(./navbar.css);
@import url(./banner.css);
@import url(./media.css);
@import url(./input.css);

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-accent: hsl(212, 100%, 51%);
  --color-tertiary: hsl(0, 0%, 51%);
  --color-hover: hsl(0, 0%, 100%);

  --font-primary: "Nunito Sans";
  --font-secondary: "Montserrat";
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-ultrabold: 800;
  --font-8: 0.5rem;
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-56: 3.5rem;
  --font-72: 4.5rem;
  --font-88: 5.5rem;
  --font-100: 6.25rem;

  --nav-color: hsl(0, 0%, 21%);
  --sun-card: linear-gradient(
    to bottom,
    hsl(198, 55%, 83%),
    hsl(198, 68%, 52%)
  );
  --cloud-card: linear-gradient(to bottom, hsl(0, 0%, 62%), hsl(198, 37%, 14%));
  --rain-card: linear-gradient(
    to bottom,
    hsl(198, 80%, 20%),
    hsl(198, 50%, 10%)
  );

  --nav-shadow: drop-shadow(4px 4px 10px hsl(212, 100%, 51%));
  --normal-shadow: drop-shadow(5px 5px 10px hsla(0, 0%, 0%, 0.5));
}
.dark-theme {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-accent: hsl(212, 100%, 25%);
  --color-tertiary: hsl(0, 0%, 75%);
}
.dark-theme .buttons .mode #light:hover {
  color: var(--color-secondary);
  transition: color 300ms ease;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary);
  transition: background-color 0.5s ease, color 0.5s ease;
}
